body,
html 
    padding: 0
    margin: 0
    scroll-behavior: smooth
    overflow-x: hidden
    background-color: #1c1c1c
    font-family: 'Heebo', sans-serif

header 
    background-image: url(images/projects/14.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    height: 700px
    width: auto 
    display: flex 
    flex-direction: column 
    justify-content: space-between
    align-items: stretch
    #desktop-navigation
        display: none
    #mobile-nav
        padding: 1em 0
        #front
            display: flex
            justify-content: flex-end
            align-items: center
            #logo,
            img
                margin-right: auto 
                padding-left: 1em
                height: 120px
            #toggle 
                color: white
            .fa-bars 
                margin-left: auto 
                padding-right: 1em 
                font-size: 2.5em
        #mobile-links
            display: none
            list-style-type: none
            font-size: 1.3em
            text-align: center
            margin: 0
            padding: 0 0 0.5em
            li
                a 
                    color: white
                    text-decoration: none 
                    font-size: 25px
                    line-height: 2
    #title 
        display: block
        margin-left: auto
        margin-right: auto
        margin-bottom: 13em
        color: white
        text-align: center
        h1 
            font-size: 2.5rem
        h2 
            font-size: 2rem
            margin-top: -0.5em

#services 
    padding: 1em
    color: white
    h2 
        text-align: center
    #services-wrapper
        display: flex 
        flex-direction: column
        justify-content: space-around 
        align-items: center 
        .service 
            img 
                border-radius: 50%
                width: 300px
                height: 300px
            h3,
            p 
                text-align: center
                font-size: 1.5rem
    button 
        display: block 
        margin: 0 auto 0
        padding: 1.5em 2em
        border-radius: 50px
        background-color: #466ab6
        border: solid #224b8f 3px
        a 
            color: white
            text-decoration: none
            font-size: 1.5rem

#about 
    padding: 1em
    background-color: #FFFFFF
    h2 
        text-align: center
    #about-wrapper
        display: flex 
        flex-direction: column
        justify-content: space-around
        margin: 0 auto 0
        h3 
            text-align: center
        #pro
            font-size: 1.5rem
            padding: 0 1em 0
        video 
            display: block 
            background-color: black
            margin: 0 auto 0
            width: 100%
            height: 400px
    #about-him
        font-size: 1.5rem 
        margin: 0 auto 0
        h3 
            text-align: center
        p
            padding: 0 1em 0
        video 
            display: block 
            background-color: black
            margin: 0 auto 0
            width: 100%
            height: 400px


#projects
    .slideshow-container 
        display: block
        margin-left: auto
        margin-right: auto
        height: 320px
        width: auto
        position: relative
        background-color: #1c1c1c
        .slides 
            display: none
            flex-wrap: wrap
            justify-content: center
            align-items: center
            position: relative
            .images 
                display: block
                margin-left: auto
                margin-right: auto
                object-fit: contain
                height: 320px
                width: auto
        .prev,
        .next 
            background-color: transparent
            color: white
            border: none
            border-radius: 50%
            height: 50px
            width: 50px
            position: absolute
            font-size: 1.5em
            cursor: pointer
            top: 45%
        .prev:active,
        .next:active 
            opacity: 0.5
        .prev 
            left: 5%
        .next 
            right: 5%
        #dots-container 
            display: none
            position: absolute
            top: 90%
            left: auto
            font-size: 16px
            text-align: center
            width: 100%
            word-spacing: 5px
            .dot 
                display: none
                background-color: #9b9b9b
                width: 15px
                height: 15px
                cursor: pointer
                transition: background-color 0.6s ease
                border-radius: 50%
            .dot:active 
                opacity: 0.5
            .active, 
            .dot:hover 
                background-color: white
            
#contact
    padding: 0.5em 0
    background-color: #FFFFFF
    text-align: center
    font-size: 1.5rem

#backUp 
    display: none 
    position: fixed 
    bottom: 4em
    right: 2.5em
    z-index: 99 
    border: none
    outline: none
    background-color: #466ab6
    color: black 
    cursor: pointer 
    border-radius: 50%
    height: 75px
    width: 75px
    font-size: 1.5em
    color: #ffffff

footer
    padding: 1em 1em 1em
    color: white
    background-color: #1c1c1c
    text-align: center
    font-size: 22px
    #footer-grid 
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        ul 
            list-style-type: none
            padding: 0
            margin: 0
            line-height: 2
        p,
        a
            font-size: 25px
            color: white
        a 
            text-decoration: none
        #mobile-phone
            text-decoration: underline
        #desktop-phone 
            display: none
    .footer-copyright 
        padding-top: 2em
        font-size: 15px
        font-style: italic

/* Desktops */
@media only screen and (min-width: 1025px)

    header 
        background-image: url(images/projects/14.jpg)
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
        height: 100vh
        width: auto 
        display: flex 
        flex-direction: column 
        justify-content: space-between
        align-items: stretch
        #mobile-nav 
            display: none
        #desktop-navigation 
            display: flex 
            flex-direction: row 
            justify-content: space-around
            align-items: center
            img 
                height: 150px
                width: auto
            nav 
                word-spacing: 1em
                font-size: 1.3rem
                a 
                    color: white
                    text-decoration: none
                #contact-button 
                    border: solid white 2px
                    border-radius: 25px
                    padding: 0.5em
        #title 
            display: block
            margin: 0 auto 35vh
            color: white
            text-align: center
            h1 
                font-size: 3rem
            h2 
                font-size: 2.5rem
                margin-top: -0.5em

    #services 
        font-size: 1.3rem
        text-align: center
        #services-wrapper
            display: grid
            grid-template-columns: 1fr 1fr 1fr 
            grid-template-rows: auto 
            grid-auto-columns: 1fr 
            justify-content: space-around
            justify-items: center
            align-items: baseline
            align-content: center
            grid-gap: 1em 0.5em
            padding: 0 5em 0
            .service 
                text-align: center
                img 
                    border-radius: 50% 
                    width: 200px
                    height: 200px
        button 
            border: none
            padding: 1.5em 4em
            a 
                text-decoration: none 
                color: white
                font-size: 1.5rem

    #about 
        font-size: 1.2rem
        h2 
            text-align: center
        #about-wrapper 
            display: grid 
            grid-template-columns: 650px 500px
            grid-template-rows: auto
            padding: 0 3em 0
            #pro 
                padding: 0 3em 0
                font-size: 1.2rem
            video 
                background-color: black
        #about-him
            margin-top: 2em
            h3
                text-align: center
            p 
                text-align: center 
                font-size: 1.2rem 
                padding: 0 10em 0
            video 
                display: block 
                margin: 0 auto 0
                background-color: black
                width: 700px
                height: 450px

    #projects 
        h2 
            text-align: center
            color: white
            font-size: 1.5rem
        .slideshow-container
            height: 700px
            .slides
                .images
                    height: 700px
                    width: auto
                    object-fit: cover
            .prev,
            .next 
                font-size: 50px
            #dots-container
                display: block
                font-size: 16px
                top: 95%
                .dot 
                    display: inline-block

    #contact 
        font-size: 1.3rem
        padding: 0.5em 10em
        h1,
        h2,
        h3,
        p
            text-align: center

    footer
        font-size: 1.2rem
        #footer-grid
            display: grid
            grid-template-columns: 1fr 1fr 1fr
            grid-auto-columns: 1fr
            grid-template-rows: auto
            grid-gap: 1em 0.5em
            justify-content: stretch
            justify-items: center
            align-items: baseline
            align-content: center
            p 
                padding: 0 3em 0
            #mobile-phone
                display: none
            #desktop-phone 
                display: block

    #backUp 
        bottom: 2em

/* Desktops 1440p */
@media only screen and (min-width: 1400px)
    header 
        #mobile-nav 
            display: none
        #desktop-navigation 
            img 
                height: 175px
                width: auto
            nav 
                word-spacing: 1em
                font-size: 1.5rem
                a 
                    color: white
                    text-decoration: none
        #title 
            display: block
            margin: 0 auto 40vh

    #services 
        #services-wrapper
            display: grid
            grid-gap: 1em 0.5em
            padding: 0 10em 0

    #about 
        #about-wrapper 
            display: grid 
            grid-template-columns: 900px 600px
            grid-auto-columns: auto
            grid-gap: 1em
            justify-content: center
            margin: 0 auto 0
            padding: 0 5em 0 
            #pro 
                padding: 0 5em 0
                h3
                    text-align: left
                    font-size: 1.5rem
                p 
                    text-align: left 
                    font-size: 1.5rem
            video 
                background-color: black
        #about-him
            margin-top: 2em
            h3
                text-align: center
                font-size: 1.5rem
            p 
                text-align: left 
                padding: 0 15em 0
                font-size: 1.5rem
            video 
                display: block 
                margin: 0 auto 0
                background-color: black
                width: 900px
                height: 500px

    #projects 
        .slideshow-container
            height: 900px
            .slides
                .images
                    height: 900px
                    width: auto
                    object-fit: cover

    #contact 
        font-size: 1.5rem
        padding: 0.5em 15em
        h1,
        h2,
        h3,
        p
            text-align: center