body,
html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

#projects .slideshow-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 320px;
  width: auto;
  position: relative;
  background-color: #1c1c1c;
}

#projects .slideshow-container .slides {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#projects .slideshow-container .slides .images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: contain;
     object-fit: contain;
  height: 320px;
  width: auto;
}

#projects .slideshow-container .prev,
#projects .slideshow-container .next {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  font-size: 1.5em;
  cursor: pointer;
  top: 45%;
}

#projects .slideshow-container .prev:active,
#projects .slideshow-container .next:active {
  opacity: 0.5;
}

#projects .slideshow-container .prev {
  left: 5%;
}

#projects .slideshow-container .next {
  right: 5%;
}

#projects .slideshow-container #dots-container {
  display: none;
  position: absolute;
  top: 90%;
  left: auto;
  font-size: 16px;
  text-align: center;
  width: 100%;
  word-spacing: 5px;
}

#projects .slideshow-container #dots-container .dot {
  display: none;
  background-color: #9b9b9b;
  width: 15px;
  height: 15px;
  cursor: pointer;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
  border-radius: 50%;
}

#projects .slideshow-container #dots-container .dot:active {
  opacity: 0.5;
}

#projects .slideshow-container #dots-container .active,
#projects .slideshow-container #dots-container .dot:hover {
  background-color: white;
}

#backUp {
  display: none;
  position: fixed;
  bottom: 4em;
  right: 2.5em;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #466ab6;
  color: black;
  cursor: pointer;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  font-size: 1.5em;
  color: #ffffff;
}

/* Desktops */
@media only screen and (min-width: 1025px) {
  header {
    background-image: url(images/projects/14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    height: 700px;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  header #desktop-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header #desktop-navigation img {
    height: 150px;
    width: auto;
  }
  header #desktop-navigation nav {
    word-spacing: 1em;
    font-size: 1.3rem;
  }
  header #desktop-navigation nav a {
    color: white;
    text-decoration: none;
  }
  header #desktop-navigation nav #contact-button {
    border: solid white 2px;
    padding: 1em;
  }
  header #title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 17em;
    color: white;
    text-align: center;
  }
  header #title h1 {
    font-size: 3rem;
  }
  header #title h2 {
    font-size: 2.5rem;
    margin-top: -0.5em;
  }
  #services {
    text-align: center;
  }
  #services #services-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-auto-columns: 1fr;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    justify-items: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-line-pack: center;
        align-content: center;
    grid-gap: 1em 0.5em;
    padding: 0 15em 0;
  }
  #services #services-wrapper .service {
    text-align: center;
    font-size: 1.2rem;
  }
  #services #services-wrapper .service img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  #services button {
    border-radius: 25px;
    border: none;
    padding: 2em;
  }
  #services button a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
  }
  #about h2 {
    text-align: center;
  }
  #about #about-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 1em;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 0 10em 0;
  }
  #about #about-wrapper #pro {
    padding: 0 5em 0;
    font-size: 1.2rem;
  }
  #about #about-wrapper video {
    background-color: black;
    width: 1900px;
    height: 350px;
  }
  #about #about-him {
    margin-top: 2em;
  }
  #about #about-him h3 {
    text-align: center;
  }
  #about #about-him p {
    text-align: center;
    font-size: 1.2rem;
    padding: 0 20em 0;
  }
  #about #about-him video {
    display: block;
    margin: 0 auto 0;
    background-color: black;
    width: 900px;
    height: 500px;
  }
  #projects h2 {
    text-align: center;
  }
  #projects .slideshow-container {
    height: 750px;
  }
  #projects .slideshow-container .slides .images {
    height: 750px;
    width: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #projects .slideshow-container #dots-container {
    display: block;
    font-size: 16px;
    top: 95%;
  }
  #projects .slideshow-container #dots-container .dot {
    display: inline-block;
  }
}
/*# sourceMappingURL=style.css.map */