body,
html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #1c1c1c;
  font-family: 'Heebo', sans-serif;
}

header {
  background-image: url(images/projects/14.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  height: 700px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

header #desktop-navigation {
  display: none;
}

header #mobile-nav {
  padding: 1em 0;
}

header #mobile-nav #front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #mobile-nav #front #logo,
header #mobile-nav #front img {
  margin-right: auto;
  padding-left: 1em;
  height: 120px;
}

header #mobile-nav #front #toggle {
  color: white;
}

header #mobile-nav #front .fa-bars {
  margin-left: auto;
  padding-right: 1em;
  font-size: 2.5em;
}

header #mobile-nav #mobile-links {
  display: none;
  list-style-type: none;
  font-size: 1.3em;
  text-align: center;
  margin: 0;
  padding: 0 0 0.5em;
}

header #mobile-nav #mobile-links li a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  line-height: 2;
}

header #title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 13em;
  color: white;
  text-align: center;
}

header #title h1 {
  font-size: 2.5rem;
}

header #title h2 {
  font-size: 2rem;
  margin-top: -0.5em;
}

#services {
  padding: 1em;
  color: white;
  font-size: 1.3rem;
}

#services h2 {
  text-align: center;
}

#services #services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#services #services-wrapper .service img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

#services #services-wrapper .service h3,
#services #services-wrapper .service p {
  text-align: center;
}

#services #services-wrapper .service p {
  display: none;
}

#services button {
  display: block;
  margin: 0 auto 0;
  padding: 1.5em 2em;
  border-radius: 50px;
  background-color: #466ab6;
  border: solid #224b8f 3px;
}

#services button a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

#about {
  padding: 1em;
  background-color: #FFFFFF;
  font-size: 1.3rem;
}

#about h2 {
  text-align: center;
}

#about #about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto 0;
}

#about #about-wrapper h3 {
  text-align: center;
}

#about #about-wrapper #pro {
  padding: 0 1em 0;
}

#about #about-wrapper video {
  display: block;
  background-color: black;
  margin: 0 auto 0;
  width: 100%;
  height: 400px;
}

#about #about-him {
  margin: 0 auto 0;
}

#about #about-him h3 {
  text-align: center;
}

#about #about-him p {
  padding: 0 1em 0;
}

#about #about-him video {
  display: block;
  background-color: black;
  margin: 0 auto 0;
  width: 100%;
  height: 400px;
}

#projects .slideshow-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 320px;
  width: auto;
  position: relative;
  background-color: #1c1c1c;
}

#projects .slideshow-container .slides {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#projects .slideshow-container .slides .images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: contain;
     object-fit: contain;
  height: 320px;
  width: auto;
}

#projects .slideshow-container .prev,
#projects .slideshow-container .next {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  font-size: 1.5em;
  cursor: pointer;
  top: 45%;
}

#projects .slideshow-container .prev:active,
#projects .slideshow-container .next:active {
  opacity: 0.5;
}

#projects .slideshow-container .prev {
  left: 5%;
}

#projects .slideshow-container .next {
  right: 5%;
}

#projects .slideshow-container #dots-container {
  display: none;
  position: absolute;
  top: 90%;
  left: auto;
  font-size: 16px;
  text-align: center;
  width: 100%;
  word-spacing: 5px;
}

#projects .slideshow-container #dots-container .dot {
  display: none;
  background-color: #9b9b9b;
  width: 15px;
  height: 15px;
  cursor: pointer;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
  border-radius: 50%;
}

#projects .slideshow-container #dots-container .dot:active {
  opacity: 0.5;
}

#projects .slideshow-container #dots-container .active,
#projects .slideshow-container #dots-container .dot:hover {
  background-color: white;
}

#contact {
  padding: 0.5em 1em;
  background-color: #FFFFFF;
  text-align: center;
  font-size: 1.3rem;
}

#backUp {
  display: none;
  position: fixed;
  bottom: 4em;
  right: 2.5em;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #466ab6;
  color: black;
  cursor: pointer;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  font-size: 1.5em;
  color: #ffffff;
}

footer {
  padding: 1em 1em 1em;
  color: white;
  background-color: #1c1c1c;
  text-align: center;
  font-size: 1.3rem;
}

footer #footer-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #footer-grid ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: 2;
}

footer #footer-grid p,
footer #footer-grid a {
  font-size: 25px;
  color: white;
}

footer #footer-grid a {
  text-decoration: none;
}

footer #footer-grid #mobile-phone {
  text-decoration: underline;
}

footer #footer-grid #desktop-phone {
  display: none;
}

footer .footer-copyright {
  padding-top: 2em;
  font-size: 15px;
  font-style: italic;
}

/* Tablets */
@media only screen and (min-width: 480px) {
  header {
    background-image: url(images/projects/14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    height: 700px;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  header #desktop-navigation {
    display: none;
  }
  header #mobile-nav {
    padding: 1em 0;
  }
  header #mobile-nav #front {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header #mobile-nav #front #logo,
  header #mobile-nav #front img {
    margin-right: auto;
    padding-left: 1em;
    height: 150px;
  }
  header #mobile-nav #front .fa-bars {
    font-size: 3em;
  }
  header #mobile-nav #mobile-links li a {
    font-size: 30px;
  }
  header #title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25vh;
    color: white;
    text-align: center;
  }
  header #title h1 {
    font-size: 2.5rem;
  }
  header #title h2 {
    font-size: 2rem;
    margin-top: -0.5em;
  }
  #services #services-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-auto-columns: 1fr;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    justify-items: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-line-pack: center;
        align-content: center;
    grid-gap: 1em 0.5em;
    padding: 0 5em 0;
  }
  #services #services-wrapper .service {
    text-align: center;
  }
  #services #services-wrapper .service img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  #about h2 {
    text-align: center;
  }
  #about #about-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 auto 0;
  }
  #about #about-wrapper h3 {
    text-align: center;
  }
  #about #about-wrapper #pro {
    font-size: 1.5rem;
    padding: 0 2em 0;
  }
  #about #about-wrapper video {
    display: block;
    background-color: black;
    margin: 0 auto 0;
    width: 100%;
    height: 500px;
  }
  #about #about-him {
    font-size: 1.5rem;
    margin: 0 auto 0;
  }
  #about #about-him h3 {
    text-align: center;
  }
  #about #about-him p {
    padding: 0 2em 0;
  }
  #about #about-him video {
    display: block;
    background-color: black;
    margin: 0 auto 0;
    width: 100%;
    height: 500px;
  }
  #projects .slideshow-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: auto;
    position: relative;
    background-color: #1c1c1c;
  }
  #projects .slideshow-container .slides {
    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  #projects .slideshow-container .slides .images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    -o-object-fit: contain;
       object-fit: contain;
    height: 600px;
    width: auto;
  }
  #projects .slideshow-container .prev,
  #projects .slideshow-container .next {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    font-size: 3em;
    cursor: pointer;
    top: 45%;
  }
  #projects .slideshow-container .prev:active,
  #projects .slideshow-container .next:active {
    opacity: 0.5;
  }
  #projects .slideshow-container .prev {
    left: 5%;
  }
  #projects .slideshow-container .next {
    right: 5%;
  }
}

/* Desktops */
@media only screen and (min-width: 1025px) {
  header {
    background-image: url(images/projects/14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  header #mobile-nav {
    display: none;
  }
  header #desktop-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header #desktop-navigation img {
    height: 150px;
    width: auto;
  }
  header #desktop-navigation nav {
    word-spacing: 1em;
    font-size: 1.3rem;
  }
  header #desktop-navigation nav a {
    color: white;
    text-decoration: none;
  }
  header #desktop-navigation nav #contact-button {
    border: solid white 2px;
    border-radius: 25px;
    padding: 0.5em;
  }
  header #title {
    display: block;
    margin: 0 auto 35vh;
    color: white;
    text-align: center;
  }
  header #title h1 {
    font-size: 3rem;
  }
  header #title h2 {
    font-size: 2.5rem;
    margin-top: -0.5em;
  }
  #services {
    font-size: 1.3rem;
    text-align: center;
  }
  #services #services-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-auto-columns: 1fr;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    justify-items: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-line-pack: center;
        align-content: center;
    grid-gap: 1em 0.5em;
    padding: 0 5em 0;
  }
  #services #services-wrapper .service {
    text-align: center;
  }
  #services #services-wrapper .service img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  #services button {
    border: none;
    padding: 1.5em 4em;
  }
  #services button a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }
  #about {
    font-size: 1.2rem;
  }
  #about h2 {
    text-align: center;
  }
  #about #about-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 650px 500px;
        grid-template-columns: 650px 500px;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    padding: 0 3em 0;
  }
  #about #about-wrapper #pro {
    padding: 0 3em 0;
    font-size: 1.2rem;
  }
  #about #about-wrapper video {
    background-color: black;
  }
  #about #about-him {
    margin-top: 2em;
  }
  #about #about-him h3 {
    text-align: center;
  }
  #about #about-him p {
    text-align: center;
    font-size: 1.2rem;
    padding: 0 10em 0;
  }
  #about #about-him video {
    display: block;
    margin: 0 auto 0;
    background-color: black;
    width: 700px;
    height: 450px;
  }
  #projects h2 {
    text-align: center;
    color: white;
    font-size: 1.5rem;
  }
  #projects .slideshow-container {
    height: 700px;
  }
  #projects .slideshow-container .slides .images {
    height: 700px;
    width: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #projects .slideshow-container .prev,
  #projects .slideshow-container .next {
    font-size: 50px;
  }
  #projects .slideshow-container #dots-container {
    display: block;
    font-size: 16px;
    top: 95%;
  }
  #projects .slideshow-container #dots-container .dot {
    display: inline-block;
  }
  #contact {
    font-size: 1.3rem;
    padding: 0.5em 10em;
  }
  #contact h1,
  #contact h2,
  #contact h3,
  #contact p {
    text-align: center;
  }
  footer {
    font-size: 1.2rem;
  }
  footer #footer-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 1em 0.5em;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    justify-items: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  footer #footer-grid p {
    padding: 0 3em 0;
  }
  footer #footer-grid #mobile-phone {
    display: none;
  }
  footer #footer-grid #desktop-phone {
    display: block;
  }
  #backUp {
    bottom: 2em;
  }
}

/* Desktops 1440p */
@media only screen and (min-width: 1400px) {
  header #mobile-nav {
    display: none;
  }
  header #desktop-navigation img {
    height: 175px;
    width: auto;
  }
  header #desktop-navigation nav {
    word-spacing: 1em;
    font-size: 1.5rem;
  }
  header #desktop-navigation nav a {
    color: white;
    text-decoration: none;
  }
  header #title {
    display: block;
    margin: 0 auto 40vh;
  }
  #services #services-wrapper {
    display: -ms-grid;
    display: grid;
    grid-gap: 1em 0.5em;
    padding: 0 10em 0;
  }
  #about #about-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 900px 600px;
        grid-template-columns: 900px 600px;
    grid-auto-columns: auto;
    grid-gap: 1em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 0;
    padding: 0 5em 0;
  }
  #about #about-wrapper #pro {
    padding: 0 5em 0;
  }
  #about #about-wrapper #pro h3 {
    text-align: left;
    font-size: 1.5rem;
  }
  #about #about-wrapper #pro p {
    text-align: left;
    font-size: 1.5rem;
  }
  #about #about-wrapper video {
    background-color: black;
  }
  #about #about-him {
    margin-top: 2em;
  }
  #about #about-him h3 {
    text-align: center;
    font-size: 1.5rem;
  }
  #about #about-him p {
    text-align: left;
    padding: 0 15em 0;
    font-size: 1.5rem;
  }
  #about #about-him video {
    display: block;
    margin: 0 auto 0;
    background-color: black;
    width: 900px;
    height: 500px;
  }
  #projects .slideshow-container {
    height: 900px;
  }
  #projects .slideshow-container .slides .images {
    height: 900px;
    width: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #contact {
    font-size: 1.5rem;
    padding: 0.5em 15em;
  }
  #contact h1,
  #contact h2,
  #contact h3,
  #contact p {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */